numpy
submitit
# opencv-python==4.6.0.66
opencv-python==4.5.5.64
scikit-image==0.19.2
scikit-learn==1.1.1
shapely==1.8.2
timm==0.5.4
pyyaml==6.0
colored
fvcore==0.1.5.post20220512
gdown==4.5.4
# faiss-gpu==1.7.2
faiss-cpu==1.6.5
#
# pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu117
pycocotools
#
# pip install git+https://github.com/lucasb-eyer/pydensecrf.git
#
# to install detectron, follow these 3 steps
# git clone https://github.com/facebookresearch/detectron2.git
# cd detectron2
# pip install -e .
